$skinColor: #f7e0b7;
$noseColor: darken($skinColor, 15%);

$hairColor: #694826;

$faceWidth:16rem;
$faceHeight:22rem;

$eyeColorInner: #54bf8c;
$eyeColorOuter: #98edeb;
$eyeWidth:4.5rem;
$eyelidColor: grayscale($noseColor);
$noseWidth: 1rem;
$noseHeight: 2rem;
