@import "mixins";
@import "var";
@import "face";
@import "inputs";

html {
    font-size: 10px;
    height: 100vh;
}

.title{
    grid-area: title;
    text-align: center;
    font-size: 1.8rem;
}

.grid{
    height: 100vh;
    display: grid;
    grid-template-columns: 3fr 1fr 6fr;
    grid-template-rows: 1fr 1fr;
    // grid-gap: 1rem;
    grid-template-areas:
   "title title title "
   "inputs . head ";
}
