@import "mixins";
@import "var";

html{
    font-size: 10px;
}


.hair{
    width: 21rem;
    height: 30rem;
    background-color: $hairColor;
    display: flex;
    justify-content: center;
    border-radius: 40% 40% 0% 0%;


}

.face{
    width: $faceWidth;
    height: $faceHeight;
    background-color: $skinColor;
    border-radius: 50%;
    display: flex;
    transform: translateY(3rem);
    display: flex;
    &:after{
        content: "";
        width: 16rem;
        height: 6rem;

        border-radius: 40% 40% 40% 40%;
        transform: translateX(-0.6rem);
        transform: translateY(-1rem);
        background-color: $hairColor;
        // z-index: 10;

    }
}

.eyes{
    display: flex;
    flex-flow: row;
    position: absolute;
    justify-content: space-between;
    left: -1rem;
    width: 12rem;
    height: inherit;


}
.eye{
    width: $eyeWidth;
    height: 4rem;
    background-color: #FFFFFF;
     border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
    // border: 2px solid #000000;
    position: relative;
    top: 7rem;
    left: 3.75rem;
    @include eyesShadow(rgba(0,0,0,0.38));

    .iris{
        width: 2.45rem;
        height: 2.45rem;
        @include radiousGradient ($eyeColorInner, $eyeColorOuter);
        border-radius: 50%;
        @include move(0.75rem, 0.75rem);
        border: 0.3px solid darken($eyeColorOuter, 40%);

        .pupil{
            width: 1.25rem;
            height: 1.25rem;
            background-color: #000000;
            border-radius: 50%;
            @include move(50%, 50%);
        }

    }

}

.nose{
    position: relative;
			top: 53%;
			left: 47%;

			height: $noseHeight;
			width: $noseWidth;
			
			border: 2px solid #000;
			border-color: transparent transparent #000 #000;
			border-radius: 0 10px 10px;
			-webkit-transform: rotate(9deg);
			-moz-transform: rotate(9deg);
			-o-transform: rotate(9deg);
			-ms-transform: rotate(9deg);
			transform: rotate(9deg);
}
